<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{path}}assets/css/styles.css">
</head>

<body>
    <header>
        <img src="{{path}}assets/img/logo.svg" alt="image_logo">
        <p>Ooops!</p>
        <img src="{{path}}assets/img/panier.svg" alt="image_panier">
    </header>
    <nav></nav>
    <main>
        <h1>Error 404</h1>
        <a href="{{path}}home">Retourner à la page d'accueil</a>
    </main>
</body>

</html>