@font-face {
  font-family: "Dancing";
  src: url("../fonts/DancingScript-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /* background-color: rgba(239, 212, 212, 0.963); */
  align-items: center;
  color: rgb(163, 61, 61);
  display: flex;
  flex-direction: row;
  font-family: "Dancing";
  font-size: 3rem;
  height: 8rem;
  padding: 2rem;
  justify-content: space-between;
  width: 100%;
}

header img:nth-of-type(1) {
  height: 7rem;
  width: 7rem;
}

header img:nth-of-type(2) {
  height: 40px;
  width: 40px;
}

nav {
  border-bottom: 0.1rem solid rgb(163, 61, 61);
}

main {
  /* display: flex;
  flex-direction: column; */
  padding: 5rem 30rem 5rem 30rem;
  flex: 1;
}

main img {
  border-radius: 0.5rem;
  height: 25rem;
  width: 25rem;
}

main section {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 0 0;
}

h1 {
  font-family: "Dancing";
  font-size: 2.5rem;
  padding: 0 0 2rem 0;
}

main p {
  font-size: 1.5rem;
}

ul {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

li {
  flex-grow: 1;
  padding: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(163, 61, 61);
}

nav li:hover a {
  color: white;
}

footer {
  align-items: center;
  /* background-color: antiquewhite; */
  border-top: 0.1rem solid rgb(163, 61, 61);
  display: flex;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
}

footer img {
  width: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0.3rem;
}

input[type="submit"] {
  width: 5rem;
}
