body {
  background-color: rgb(146, 205, 185);
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem 0 0 3rem;
}

section {
  border: 0.1rem black solid;
  display: flex;
  gap: 5rem;
  margin: 1rem;
  padding: 3rem;
}

footer {
  padding: 0 0 0 3rem;
}

img {
  width: 20rem;
}
